{% macro displayNewsList(news_list) %}

{% for news in news_list %}
<div class="col-xs-12 col-sm-4">
    <li>
    <a href="news/{{news.id}}">{{news.name}}</a>
    </li>
</div>
<!-- <li>{{ news.name }}</li>
<li>{{ news.country }}</li>
<li>{{ news.url }}</li>
<li>{{ news.description }}</li> -->

{% endfor %}

{% macro displayArticlesList(articles_list) %}

{% for articles in articles_list %}
<div class="col-xs-12">
    <li>{{ articles.author}}</li>
    <li>{{ articles.description }}</li>
</div>

{% endfor %}
{% endmacro %}
{% endmacro %}